@let authStatus = auth.authStatus(); @let isMobile = breakpoints.isMobile();
<header
  tuiNavigationHeader
  class="select-none"
  [class.overflow-hidden]="isMobile"
>
  @if (isMobile && ui.UIStyle()) {
    <button
      tuiButton
      appearance="secondary-grayscale"
      type="button"
      size="s"
      class="self-start !rounded-full"
      iconStart="@tui.undo-2"
      (click)="navigationUtils.back()"
    >
      @if (!isMobile) {
        <span class="translate-y-[-2px]">Back</span>
      }
    </button>
  } @else {
    <app-drawer />
    <app-logo [styleClass]="isMobile ? 'h-12 m-1' : 'h-12 m-4'" />
  }
  <hr />
  @if (!!authStatus.user) {
    <span class="flex items-center gap-2">
      <span
        class="truncate text-end max-w-[70vw] h-6 translate-y-1"
        [class.!max-w-20]="isMobile && ui.UIStyle() === UIStyleEnum.DEFAULT"
      >
        {{ authStatus.user.displayName }}
      </span>
      <tui-avatar
        src="@tui.user"
        class="cursor-pointer"
        tuiDropdownOpen
        [tuiDropdown]="content"
      />
    </span>
  } @else if (authStatus.authChecked) {
    <button
      tuiButton
      appearance="textfield"
      (click)="dialogs.open(DialogEnum.LOGIN).subscribe()"
    >
      Log In
    </button>
    <button
      tuiButton
      appearance="primary"
      (click)="dialogs.open(DialogEnum.SIGNUP).subscribe()"
    >
      Sign Up
    </button>
  }
</header>

<ng-template #content>
  <tui-data-list role="menu" size="s">
    <a
      tuiOption
      role="menuitem"
      (click)="auth.logout()"
      (keyup.enter)="auth.logout()"
      tabindex="0"
    >
      Log out
    </a>
  </tui-data-list>
</ng-template>
