@let authStatus = auth.authStatus(); @let isMobile = breakpoints.isMobile();
<header
  tuiNavigationHeader
  class="select-none"
  [class.overflow-hidden]="isMobile"
>
  @if (isMobile) {
    <app-drawer />
  }
  <app-logo minimal [styleClass]="isMobile ? 'h-12 m-1' : 'h-12 m-4'" />
  <hr />
  @if (!!authStatus.user) {
    <span class="flex items-center gap-2">
      <span [class]="isMobile ? 'w-20 truncate' : ''">
        {{ authStatus.user.displayName }}
      </span>
      <tui-avatar
        src="@tui.user"
        class="cursor-pointer"
        tuiDropdownOpen
        [tuiDropdown]="content"
      />
    </span>
  } @else if (authStatus.authChecked) {
    <button
      tuiButton
      appearance="textfield"
      (click)="dialogs.open(DialogEnum.LOGIN).subscribe()"
    >
      Log In
    </button>
    <button
      tuiButton
      appearance="primary"
      (click)="dialogs.open(DialogEnum.SIGNUP).subscribe()"
    >
      Sign Up
    </button>
  }
</header>

<ng-template #content>
  <tui-data-list role="menu" size="s">
    <a
      tuiOption
      role="menuitem"
      (click)="auth.logout()"
      (keyup.enter)="auth.logout()"
      tabindex="0"
    >
      Log out
    </a>
  </tui-data-list>
</ng-template>
