@let authStatus = auth.authStatus(); @let isMobile = breakpoints.isMobile();
<header
  tuiNavigationHeader
  class="select-none"
  [class.overflow-hidden]="isMobile"
>
  @if (isMobile && ui.UIStyle() === UIStyleEnum.BACK) {
    <button
      id="header-back"
      tuiButton
      appearance="secondary-grayscale"
      type="button"
      size="s"
      class="self-start !rounded-full"
      iconStart="@tui.undo-2"
      (click)="navigationUtils.back()"
    >
      <span class="hidden"></span>
    </button>
  } @else {
    @if (isMobile) {
      <app-drawer />
    }
    <app-logo id="header-logo" class="w-52 h-[calc(100%+1rem)] my-[-0.5rem]" />
  }
  <hr />
  @if (!!authStatus.user) {
    <span class="flex items-center gap-2">
      <span
        class="truncate text-end max-w-[70vw] h-6 translate-y-1"
        [class.!max-w-20]="isMobile && ui.UIStyle() === UIStyleEnum.DEFAULT"
      >
        {{ authStatus.user.displayName }}
      </span>
      @if (isMobile) {
        <tui-avatar
          id="header-avatar"
          src="@tui.user"
          class="cursor-pointer"
          (click)="tuiDialogs.open(menu).subscribe()"
        />
      } @else {
        <tui-avatar
          id="header-avatar"
          src="@tui.user"
          class="cursor-pointer"
          tuiDropdownHover
          [tuiDropdown]="menu"
        />
      }
    </span>
  } @else if (authStatus.authChecked) {
    <button
      id="header-login"
      tuiButton
      appearance="textfield"
      (click)="dialogs.open(DialogEnum.LOGIN).subscribe()"
    >
      Log In
    </button>
    <button
      id="header-signup"
      tuiButton
      appearance="primary"
      (click)="dialogs.open(DialogEnum.SIGNUP).subscribe()"
    >
      Sign Up
    </button>
  }
</header>

<ng-template #menu let-observer>
  @let isDialog = observer.complete !== undefined;
  <tui-data-list
    role="menu"
    [size]="isDialog ? 'l' : 's'"
    [class.pt-4]="isDialog"
    (click)="observer.complete?.()"
  >
    <a
      id="header-logout"
      class="!justify-start"
      tuiOption
      role="menuitem"
      (click)="auth.logout()"
      (keyup.enter)="auth.logout()"
      tabindex="0"
      iconStart="@tui.door-open"
    >
      Log out
    </a>
  </tui-data-list>
</ng-template>
