<div
  tuiCardLarge
  id="idea-{{ idea.id }}"
  class="!bg-background-base hover:!bg-background-base-alt transition-colors duration-tui hover:cursor-pointer !max-w-[100vw] origin-center app-idea-card"
  [ngClass]="{
    '!rounded-none ![--t-space:0.8rem] ![--t-padding:1.2rem]': isMobile,
    'hover:cursor-pointer select-none app-compact': compact,
    'animate-pop': animateEntry,
  }"
  (click)="navigateToIdea()"
  (keydown.enter)="navigateToIdea()"
  tabindex="0"
>
  <section
    tuiHeader
    class="grid items-center content-center gap-x-2 text-text-tertiary"
    [class.grid-cols-[auto_auto_auto_1fr]]="compact"
    [class.grid-cols-[1fr_auto_auto_auto]]="!compact"
  >
    @if (idea.user?.handle && idea.user?.displayName) {
      <span
        class="idea-user !text-text-secondary"
        [ngClass]="{
          'line-clamp-1 break-all': compact,
        }"
      >
        <span
          class="text-text-primary"
          [ngClass]="{
            'line-clamp-1 break-all': !compact,
          }"
        >
          {{ idea.user!.displayName }}</span
        >
        <span
          [ngClass]="{
            'line-clamp-1 break-all': !compact,
          }"
        >
          &commat;{{ idea.user!.handle }}</span
        >
      </span>
      <span class="select-none" [class.opacity-0]="!compact">&bull;</span>
    }
    <span class="idea-age flex items-center select-none">
      {{ idea.age ? (idea.age | humanizeDuration) : "" }}
      @if (idea.updated) {
        <tui-icon
          icon="@tui.pencil"
          tuiHint="Edited {{ idea.updatedAt | date: 'MMM d, y, h:mm a' }}"
          [tuiHintDirection]="isMobile ? 'top-left' : 'right'"
          class="idea-edited h-4"
        />
      }
    </span>
    <!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
    <div
      class="justify-self-end col-start-[-1]"
      (click)="$event.stopPropagation()"
      (keydown.enter)="$event.stopPropagation()"
    >
      @if (isMobile) {
        <button
          appearance="outline-grayscale"
          iconStart="@tui.ellipsis-vertical"
          tuiIconButton
          type="button"
          size="s"
          [appearance]="compact ? 'flat-grayscale' : 'outline-grayscale'"
          class="idea-more !rounded-full before:!text-text-tertiary"
          (click)="openDialog()"
        >
          More
        </button>
      } @else {
        <button
          appearance="outline-grayscale"
          iconStart="@tui.ellipsis-vertical"
          tuiDropdownHover
          tuiIconButton
          type="button"
          [tuiDropdown]="menu"
          size="s"
          appearance="flat-grayscale"
          class="idea-more !rounded-full"
        >
          More
        </button>
      }
    </div>
  </section>

  <section>
    <h2
      tuiTitle
      class="idea-title !text-2xl !font-bold break-words"
      [class.line-clamp-3]="compact"
    >
      {{ idea.title }}
    </h2>
  </section>

  <section
    tuiAppearance="flat-grayscale"
    [innerHTML]="idea.content"
    class="idea-content text-base break-words"
    [ngClass]="{ 'line-clamp-2  !text-text-secondary': compact }"
  ></section>

  <section
    class="flex items-center gap-2 flex-wrap"
    [class.flex-row-reverse]="isMobile"
  >
    <app-votes-control
      [voteTotal]="
        idea.upvoteCount !== undefined &&
        idea.downvoteCount !== undefined &&
        idea.upvoteCount !== null &&
        idea.downvoteCount !== null
          ? idea.upvoteCount - idea.downvoteCount
          : null
      "
      [vote]="idea.myVote ?? null"
      (voteChange)="onVoteChange($event)"
      (click)="$event.stopPropagation()"
      (keydown.enter)="$event.stopPropagation()"
    />

    <button
      tuiButton
      appearance="outline-grayscale"
      class="idea-comment-btn !bg-background-base !rounded-full !flex !items-center !w-min !h-10 !gap-3 !px-4 active:!bg-background-neutral-1"
      (click)="onCommentButtonClick($event)"
      (keydown.enter)="onCommentButtonClick($event)"
    >
      <tui-icon
        icon="@tui.message-square-text"
        tuiAppearance="neutral"
        class="!bg-transparent"
      />
      @if (idea.commentCount !== undefined) {
        {{ idea.commentCount | average | uppercase }}
      }
    </button>
  </section>
</div>

<ng-template #menu let-observer>
  @let isDialog = observer.complete !== undefined;
  <tui-data-list
    id="idea-{{ idea.id }}-menu"
    [size]="isDialog ? 'l' : 's'"
    [class.pt-4]="isDialog"
    (click)="observer.complete?.()"
  >
    <button
      id="idea-{{ idea.id }}-share"
      tuiOption
      class="!justify-start"
      iconStart="@tui.share-2"
      (click)="share()"
    >
      Share
    </button>
    @if (isAuthor) {
      <button
        id="idea-{{ idea.id }}-edit"
        tuiOption
        class="!justify-start"
        iconStart="@tui.pencil"
        [routerLink]="['/', 'ideas', idea.id, 'edit']"
      >
        Edit
      </button>
      <button
        id="idea-{{ idea.id }}-delete"
        tuiOption
        class="!justify-start"
        iconStart="@tui.trash"
        (click)="askToDeleteIdea()"
      >
        Delete
      </button>
    }
  </tui-data-list>
</ng-template>
