:host ::ng-deep {
  tui-carousel > .t-scroller {
    height: 100% !important;

    & > .t-wrapper > .t-items {
      height: 100% !important;

      > .t-item {
        padding: 0 !important;
      }
    }
  }
}
