@let isMobile = breakpoints.isMobile();

<div class="h-full flex flex-col">
  <div
    class="sticky z-10 top-0 left-0 gap-4 p-4 bg-background-base-alt min-h-20 max-w-[100vw] overflow-hidden app-home-nav"
    [ngClass]="{
      'flex items-center': !isMobile,
      'grid grid-cols-auto-fit-36 grid-flow-row grid-rows-1': isMobile,
    }"
  >
    <app-feed-selector
      [class.min-w-44]="!isMobile"
      [formControl]="feedControl"
      ngDefaultControl
      buttonAppearance="secondary-grayscale"
    />

    @if (feedControl.value !== IdeaSortEnum.NEW) {
      <app-age-selector
        [class.min-w-44]="!isMobile"
        [formControl]="ageControl"
        ngDefaultControl
        buttonAppearance="secondary-grayscale"
        (ageChange)="onAgeSelectorChange($event)"
      />
    }
  </div>
  <tui-carousel
    [index]="index"
    (indexChange)="onCarouselChange($event)"
    [draggable]="isMobile"
    class="!min-h-0 max-w-[100vw] !h-full flex-1"
  >
    @for (feed of feeds; track $index) {
      <div *tuiItem class="!relative h-full">
        <tui-scrollbar
          class="!absolute !top-0 !left-0 !w-full !min-h-0 !h-full !pb-4"
          [hidden]="isMobile"
          [class.w-screen]="isMobile"
          appSuppressTouchOnScroll
        >
          <div class="flex justify-center" [class.pr-12]="!isMobile">
            <div class="w-full" [class.max-w-3xl]="!isMobile">
              @if (feed.fetch) {
                <app-idea-feed
                  [sort]="feed.sort"
                  [age]="ageControl.value"
                  includeOwnVotes
                  includeUsers
                />
              }
              <tui-loader
                [showLoader]="true"
                size="xxl"
                [inheritColor]="true"
                class="text-background-neutral-1"
              />
            </div>
          </div>
        </tui-scrollbar>
      </div>
    }
  </tui-carousel>
</div>
