@let ageString = idea.age? (idea.age | humanizeDuration : 1) : '';

<div tuiCardLarge class="!bg-transparent !rounded-none">
  <section
    tuiHeader
    class="grid grid-cols-[auto_auto_1fr] items-center content-center max-md:grid-cols-[auto_1fr] max-md:grid-rows-2 gap-x-4"
  >
    @if(idea.user?.handle && idea.user?.displayName){
    <span
      tuiAppearance="flat-grayscale"
      class="!text-text_secondary line-clamp-1 break-all"
      >{{ idea.user!.displayName }}
      <span class="text-border_normal">|</span>
      <span class="text-text_tertiary"> &commat;{{ idea.user!.handle }} </span>
    </span>
    }
    <span tuiAppearance="flat">
      @if(ageString.startsWith('1 day')){Yesterday}
      <!---->
      @else { {{ ageString }} ago }
      <!---->
      @if(idea.updated){
      <span>
        <tui-icon
          icon="@tui.pencil"
          tuiAppearance="flat-grayscale"
          [tuiHint]="'Updated ' + (idea.updatedAt | date : 'medium')"
          tuiHintAppearance="primary"
          tuiHintDirection="right"
          class="mx-4 h-4"
        />
      </span>
      }
    </span>
    <button
      appearance="outline-grayscale"
      iconStart="@tui.ellipsis-vertical"
      tuiDropdownHover
      tuiDropdownMobile="Contact Us"
      tuiIconButton
      type="button"
      [tuiDropdown]="dropdown"
      size="s"
      appearance="flat-grayscale"
      class="!rounded-full justify-self-end max-md:col-start-2 max-md:row-start-1"
    >
      More
    </button>
  </section>

  <section>
    <h2 tuiTitle class="text-2xl">{{ idea.title }}</h2>
  </section>

  <section
    tuiAppearance="flat-grayscale"
    [innerHTML]="idea.content"
    class="line-clamp-2 break-words"
  ></section>

  <section class="flex items-center gap-2">
    <div class="flex">
      <button
        tuiButton
        appearance="outline-grayscale"
        class="!flex !items-center !w-min !rounded-s-full !px-2 !gap-0 !h-10 !cursor-default"
      >
        <input
          tuiLike
          type="checkbox"
          checkedIcon="@tui.arrow-big-up"
          uncheckedIcon="@tui.arrow-big-up"
          class="!border-4 !h-8 !w-8 !bg-transparent"
          appearance="neutral"
        />
        @if(idea.upvoteCount !== undefined && idea.downvoteCount !== undefined
        && idea.upvoteCount !== null && idea.downvoteCount !== null){
        <span>{{ idea.upvoteCount - idea.downvoteCount }}</span>
        }
      </button>
      <button
        tuiButton
        appearance="outline-grayscale"
        class="!flex !items-center !rounded-e-full !border-l-0 !h-10 !px-2 !cursor-default"
      >
        <input
          tuiLike
          type="checkbox"
          checkedIcon="@tui.arrow-big-down"
          uncheckedIcon="@tui.arrow-big-down"
          class="!border-4 !h-8 !w-8 !bg-transparent"
          appearance="neutral"
        />
      </button>
    </div>

    <button
      tuiButton
      appearance="outline-grayscale"
      class="!rounded-full !flex !items-center !w-min !h-10 !gap-3 !px-4"
    >
      <tui-icon
        icon="@tui.message-square-text"
        tuiAppearance="neutral"
        class="!bg-transparent"
      />
      {{ idea.commentCount }}
    </button>
  </section>
</div>

<ng-template #dropdown>
  <tui-data-list size="s">
    <button iconStart="@tui.share-2" tuiOption>Share</button>
  </tui-data-list>
</ng-template>
