@let isMobile = breakpoints.isMobile();

<section class="flex flex-col items-center">
  <section
    class="flex flex-col items-stretch w-full"
    [ngClass]="{
      'max-w-3xl gap-4 py-4': !isMobile,
      'pb-4': isMobile,
    }"
  >
    @if (!isMobile) {
      <app-back-button />
    }
    <app-idea-card
      [idea]="idea"
      (deleted)="navigationUtils.back()"
      [animateEntry]="animateEntry"
    />
    <div class="border-b border-border-normal"></div>
    <app-comment-editor [ideaId]="idea.id" />
    <div class="border-b border-border-normal"></div>
    <app-comment-list
      [ideaId]="idea.id"
      [commentCount]="idea.commentCount ?? null"
    />
  </section>
</section>
