@let isMobile = breakpoints.isMobile();

<section class="flex flex-col items-center">
  <section
    class="flex flex-col items-stretch w-full"
    [ngClass]="{
      'max-w-3xl gap-4 py-4': !isMobile,
      'pb-4': isMobile,
    }"
  >
    @if (!isMobile) {
      <app-back-button />
    }
    <app-idea-card
      [idea]="idea"
      [animateEntry]="animateEntry"
      (deleted)="navigationUtils.back()"
      (commentBtnClick)="openCommentEditor()"
    />
    <div class="border-b border-border-normal"></div>
    <app-comment-editor
      [ideaId]="idea.id"
      (posted)="idea.commentCount = (idea.commentCount ?? 0) + 1"
      [isOpen]="commentEditorOpen"
      [update]="commentToUpdate"
    />
    <app-comment-list
      [ideaId]="idea.id"
      [commentCount]="idea.commentCount ?? null"
      (update)="updateComment($event)"
    />
  </section>
</section>
