@import "../base";

[tuiTheme="dark"] {
  --tui-text-action: #db3a01;
  --tui-text-action-hover: #d43804;

  --tui-background-accent-1: #db3a01;
  --tui-background-accent-1-hover: #ee3c00;
  --tui-background-accent-1-pressed: #cf3902;

  --tui-background-accent-2: #6800e0;
  --tui-background-accent-2-hover: #7a00ff;
  --tui-background-accent-2-pressed: #5a00c0;

  --tui-service-autofill-background: #f93e001b;
}
