@use "default";

[tuiTheme="dark"] {
  --tui-background-base: #000000;
  --tui-background-base-alt: #080808;
  --tui-theme-color: #000000;

  --tui-background-neutral-1: #060606;
  --tui-background-neutral-1-hover: #0a0a0a;
  --tui-background-neutral-1-pressed: #0e0e0e;

  --tui-background-neutral-2: #060606;
  --tui-background-neutral-2-hover: #0a0a0a;
  --tui-background-neutral-2-pressed: #0e0e0e;

  --tui-background-elevation-1: #0a0a0a;
  --tui-background-elevation-2: #0e0e0e;
  --tui-background-elevation-3: #121212;

  --tui-service-selection-background: #1871ff4d;
}

::selection {
  background: var(--tui-service-selection-background);
}

[tuinavigationheader],
.app-feed-selector {
  box-shadow:
    0px -1px 0px 0px var(--tui-border-normal),
    0px 1px 0px 0px var(--tui-border-normal);
  z-index: 10;
}

[tuinavigationaside] {
  box-shadow:
    -1px 0px 0px 0px var(--tui-border-normal),
    1px 0px 0px 0px var(--tui-border-normal);
}

[tuinavigationaside]::before,
[tuinavigationheader]::before {
  opacity: 0;
}

tui-dropdown[data-appearance="dropdown-navigation"] {
  background: var(--tui-background-elevation-1) !important;
  outline: 2px solid var(--tui-border-normal);
  outline-offset: -2px;
}

.app-feed-selector {
  background: var(--tui-background-base);
}

tui-segmented {
  --tui-background-neutral-1: #000000;
  --tui-background-base: var(--tui-background-base-alt);
}
