@use "../base";
@use "../../partials/oled-utils";
@use "../../fonts/Modeseven-L3n5.scss";

[tuiTheme] {
  --tui-text-primary: #00ff00;
  --tui-text-secondary: #00ff00;
  --tui-text-tertiary: #00ff00;

  --tui-background-base: #000000;
  --tui-background-base-alt: #001200;
  --tui-theme-color: #000000;

  --tui-background-neutral-1: #001200;
  --tui-background-neutral-1-hover: #001a00;
  --tui-background-neutral-1-pressed: #002100;

  --tui-background-neutral-2: #001200;
  --tui-background-neutral-2-hover: #001a00;
  --tui-background-neutral-2-pressed: #002100;

  --tui-background-elevation-1: #000000;
  --tui-background-elevation-2: #001a00;
  --tui-background-elevation-3: #002100;

  --tui-service-selection-background: rgba(0, 255, 0, 0.1);

  --tui-background-accent-1: #00ff00;
  --tui-background-accent-1-hover: #00ff00;
  --tui-background-accent-1-pressed: #00ff00;

  --tui-background-accent-2: #00ff00;
  --tui-background-accent-2-hover: #00ff00;
  --tui-background-accent-2-pressed: #00ff00;

  --tui-border-normal: #00ff00;
  --tui-border-hover: #00ff00;
  --tui-border-focus: #00ff00;

  --tui-status-neutral: #00ff00;

  --tui-service-autofill-background: rgba(0, 255, 0, 0.1);

  --tui-radius-xs: 0px;
  --tui-radius-s: 0px;
  --tui-radius-m: 0px;
  --tui-radius-l: 0px;
  --tui-radius-xl: 0px;

  --upvote-color: #ffff00;
  --downvote-color: #0000ff;

  --tui-text-action: #ffff00;
  --tui-text-action-hover: #ffff00;
  --tui-text-negative: #ff0000;
  --tui-text-negative-hover: #ff0000;
  --tui-text-positive: #00ff00;
  --tui-text-positive-hover: #00ff00;

  --tui-text-primary-on-accent-1: #000000;
  --tui-text-primary-on-accent-2: #000000;

  --tui-status-positive: #00ff00;
  --tui-status-positive-pale: #00ff00;
  --tui-status-positive-pale-hover: #00ff00;

  --tui-status-negative: #ff0000;
  --tui-status-negative-pale: #ff0000;
  --tui-status-negative-pale-hover: #ff0000;

  --tui-status-warning: #ffff00;
  --tui-status-warning-pale: #ffff00;
  --tui-status-warning-pale-hover: #ffff00;

  --tui-status-info: #00ffff;
  --tui-status-info-pale: #00ffff;
  --tui-status-info-pale-hover: #00ffff;

  --controversial: #00ff00;
  --controversial-transparent: rgba(0, 255, 0, 0.1);
  --controversial-transparent-pressed: rgba(0, 255, 0, 0.1);

  --popular: #00ff00;
  --popular-transparent: rgba(0, 255, 0, 0.1);
  --popular-transparent-pressed: rgba(0, 255, 0, 0.1);

  --unpopular: #00ff00;
  --unpopular-transparent: rgba(0, 255, 0, 0.1);
  --unpopular-transparent-pressed: rgba(0, 255, 0, 0.1);

  --tui-font-heading: "Modeseven-L3n5", monospace, consolas;
  --tui-font-heading-1: "Modeseven-L3n5", monospace, consolas;
  --tui-font-heading-2: "Modeseven-L3n5", monospace, consolas;
  --tui-font-heading-3: "Modeseven-L3n5", monospace, consolas;
  --tui-font-heading-4: "Modeseven-L3n5", monospace, consolas;
  --tui-font-heading-5: "Modeseven-L3n5", monospace, consolas;
  --tui-font-heading-6: "Modeseven-L3n5", monospace, consolas;
  --tui-font-text: "Modeseven-L3n5", monospace, consolas;
  --tui-font-text-l: "Modeseven-L3n5", monospace, consolas;
  --tui-font-text-m: "Modeseven-L3n5", monospace, consolas;
  --tui-font-text-s: "Modeseven-L3n5", monospace, consolas;
  --tui-font-text-ui-l: "Modeseven-L3n5", monospace, consolas;
  --tui-font-text-ui-m: "Modeseven-L3n5", monospace, consolas;
  --tui-font-text-ui-s: "Modeseven-L3n5", monospace, consolas;
  --tui-font-text-ui-xs: "Modeseven-L3n5", monospace, consolas;
  --tui-font-text-xl: "Modeseven-L3n5", monospace, consolas;
  --tui-font-text-xs: "Modeseven-L3n5", monospace, consolas;

  --tui-duration: 0ms !important;

  font-family: "Modeseven-L3n5", monospace, consolas;
}

::selection {
  background: var(--tui-service-selection-background);
}

tui-dialog > .t-content {
  border: 1px solid #00ff00;
  border-radius: 0px !important;
}

tui-segmented::before {
  background: var(--tui-background-base-alt);
}

tui-carousel {
  --tui-duration: 300ms;

  & > .t-scroller > .t-wrapper > .t-items > .t-item {
    --tui-duration: 0ms;
  }
}

tui-hint {
  border: 1px solid var(--tui-border-normal);

  &::before {
    display: none;
  }
}

[tuiprogressbar] {
  border-radius: 0px !important;
}

[tuiCardLarge] {
  border-radius: 0px !important;
}

button[data-appearance="primary"] {
  background: transparent !important;
  color: #00ff00 !important;
  border: 2px solid #00ff00 !important;

  &:hover {
    background: rgba(0, 255, 0, 0.1) !important;
  }
}

tui-notification,
tui-notification > button::before {
  color: #000000 !important;
}

.\!rounded-full,
.\!rounded-s-full,
.\!rounded-e-full {
  border-radius: 0px !important;
}

ul {
  list-style: square !important;
}
