<section>
  <form
    [formGroup]="form"
    class="flex justify-between flex-wrap items-center gap-4"
  >
    <div class="flex flex-col gap-4">
      <div class="flex gap-2">
        <input
          tuiRadio
          type="radio"
          name="theme"
          value="light"
          id="theme-light"
          formControlName="theme"
        />
        <label for="theme-light"> Light </label>
      </div>
      <div class="flex gap-2">
        <input
          tuiRadio
          type="radio"
          name="theme"
          value="dark"
          id="theme-dark"
          formControlName="theme"
        />
        <label for="theme-dark"> Dark </label>
      </div>
      <div class="flex gap-2">
        <input
          tuiRadio
          type="radio"
          name="theme"
          value="system"
          id="theme-system"
          formControlName="theme"
        />
        <label for="theme-system"> Follow system </label>
      </div>
    </div>

    <div class="flex flex-col items-center justify-between self-stretch">
      @if (
        currentTheme && themeVariationOptions[currentTheme].options.length > 1
      ) {
        <button
          class="w-fit"
          tuiButton
          tuiChevron
          type="button"
          [tuiDropdown]="themeVariationDropdown"
          [(tuiDropdownOpen)]="themeVariationDropdownOpen"
        >
          {{ currentTheme | titlecase }} theme variation
        </button>
      }
      <tui-loader
        class="opacity-0"
        [class.!opacity-100]="themeLoading$ | async"
      />
    </div>
  </form>
</section>

<ng-template #themeVariationDropdown>
  <tui-data-list tuiDataListDropdownManager size="l" class="min-w-52">
    @if (currentTheme) {
      @let option = themeVariationOptions[currentTheme];
      @for (item of option.options; track $index) {
        <button
          tuiOption
          type="button"
          class="!font-bold"
          (click)="option.control.setValue(item)"
        >
          {{ item | titlecase }}
        </button>
      }
    }
  </tui-data-list>
</ng-template>
