<section>
  <form [formGroup]="form" class="flex flex-col gap-4">
    <div class="flex gap-2">
      <input
        tuiRadio
        type="radio"
        name="theme"
        value="light"
        id="theme-light"
        formControlName="theme"
      />
      <label for="theme-light"> Light </label>
    </div>

    <div class="flex gap-2">
      <input
        tuiRadio
        type="radio"
        name="theme"
        value="dark"
        id="theme-dark"
        formControlName="theme"
      />
      <label for="theme-dark"> Dark </label>
    </div>

    <div class="flex gap-2">
      <input
        tuiRadio
        type="radio"
        name="theme"
        value="system"
        id="theme-system"
        formControlName="theme"
      />
      <label for="theme-system"> Follow system </label>
    </div>

    @for (option of themeVariationOptions; track $index) {
      @if (
        form.controls.theme.value === option.theme && option.options.length > 1
      ) {
        <div>
          <span>{{ option.theme | titlecase }} theme</span>
          <tui-data-list role="menu">
            <tui-opt-group>
              @for (item of option.options; track $index) {
                <a
                  tuiOption
                  role="menuitem"
                  (click)="setThemeVariation(option.controlName, item)"
                  (keydown.enter)="setThemeVariation(option.controlName, item)"
                  tabindex="0"
                >
                  {{ item }}
                </a>
              }
            </tui-opt-group>
          </tui-data-list>
        </div>
      }
    }
  </form>

  @if (themeLoading$ | async) {
    <tui-loader />
  }
</section>
