@if (!breakpointsService.isMobile()) {
  <aside
    [tuiNavigationAside]="sidebarService.expanded()"
    class="!h-[calc(100vh-3rem)] select-none"
  >
    <header>
      <button
        iconStart="@tui.flame"
        tuiAsideItem
        type="button"
        routerLink="/home"
        [queryParams]="{ sort: IdeaSortEnum.CONTROVERSIAL }"
        class="!font-bold [--tui-text-primary:theme(colors.controversial)] [--tui-background-neutral-1-hover:theme(colors.controversial-transparent)] [--tui-background-neutral-1-pressed:theme(colors.controversial-transparent-pressed)]"
      >
        <span>Controversial</span>
      </button>
      <button
        iconStart="@tui.trophy"
        tuiAsideItem
        type="button"
        routerLink="/home"
        [queryParams]="{ sort: IdeaSortEnum.POPULAR }"
        class="!font-bold [--tui-text-primary:theme(colors.popular)] [--tui-background-neutral-1-hover:theme(colors.popular-transparent)] [--tui-background-neutral-1-pressed:theme(colors.popular-transparent-pressed)]"
      >
        <span>Popular</span>
      </button>
      <button
        iconStart="@tui.frown"
        tuiAsideItem
        type="button"
        routerLink="/home"
        [queryParams]="{ sort: IdeaSortEnum.UNPOPULAR }"
        class="!font-bold [--tui-text-primary:theme(colors.unpopular)] [--tui-background-neutral-1-hover:theme(colors.unpopular-transparent)] [--tui-background-neutral-1-pressed:theme(colors.unpopular-transparent-pressed)]"
      >
        <span>Unpopular</span>
      </button>
      <button
        iconStart="@tui.clock"
        tuiAsideItem
        type="button"
        routerLink="/home"
        [queryParams]="{ sort: IdeaSortEnum.NEW }"
        class="!font-bold [--tui-text-primary:theme(colors.new)] [--tui-background-neutral-1-hover:theme(colors.new-transparent)] [--tui-background-neutral-1-pressed:theme(colors.new-transparent-pressed)]"
      >
        <span>New</span>
      </button>
    </header>

    <button
      iconStart="@tui.plus"
      tuiAsideItem
      type="button"
      routerLink="/ideas/new"
    >
      <span>Post an idea</span>
    </button>

    <tui-aside-group>
      <button
        automation-id="setting"
        iconStart="@tui.settings"
        tuiAsideItem
        tuiChevron
        type="button"
        (isActiveChange)="dialogs.open(DialogEnum.SETTINGS).subscribe()"
      >
        Settings
        <ng-template>
          <button
            tuiAsideItem
            iconStart="@tui.palette"
            type="button"
            type="button"
            (click)="dialogs.open(DialogEnum.SETTINGS_THEME).subscribe()"
          >
            Theme
          </button>
        </ng-template>
      </button>
    </tui-aside-group>
    <tui-aside-group>
      <button
        automation-id="more"
        iconStart="@tui.ellipsis"
        tuiAsideItem
        tuiChevron
        type="button"
      >
        More
        <ng-template>
          <button
            tuiAsideItem
            iconStart="@tui.scroll-text"
            type="button"
            routerLink="/tos"
          >
            Terms of Service
          </button>
          <button
            tuiAsideItem
            iconStart="@tui.shield"
            type="button"
            routerLink="/privacy-policy"
          >
            Privacy Policy
          </button>
          <button
            tuiAsideItem
            iconStart="@tui.signature"
            type="button"
            routerLink="/credits"
          >
            Credits
          </button>
        </ng-template>
      </button>
    </tui-aside-group>
    <footer>
      <button
        [iconStart]="
          sidebarService.expanded() ? '@tui.arrow-left' : '@tui.arrow-right'
        "
        tuiAsideItem
        type="button"
        tuiHintDirection="right"
        (click)="sidebarService.toggle()"
      >
        @if (sidebarService.expanded()) {
          Collapse
        } @else {
          Expand
        }
      </button>
    </footer>
  </aside>
}
