<div
  class="flex flex-col"
  [class.gap-2]="!breakpoints.isMobile()"
  [class.pt-2]="!breakpoints.isMobile()"
>
  @if (requestManager) {
    @for (comment of comments; track comment.id) {
      @if (!comment.deleted) {
        <app-comment-card [comment]="comment" />
      }
    }
  }
  @if (loadingIndicator.isLoading$ | async) {
    <tui-loader
      [showLoader]="true"
      size="xxl"
      [inheritColor]="true"
      class="text-background-neutral-1"
    />
  }
  @if (requestManager?.meta?.itemCount === 0) {
    <div class="self-center mt-8 flex flex-col items-center gap-2">
      <tui-icon icon="@tui.circle-alert" class="text-5xl"></tui-icon>
      <span class="font-tui-text-l">Be the first to comment</span>
    </div>
  }
</div>
