<div
  id="comment-list-{{ ideaId }}"
  class="flex flex-col"
  [class.gap-1]="!breakpoints.isMobile()"
  [class.pt-2]="!breakpoints.isMobile()"
>
  @if (loadingIndicator.isLoading$ | async) {
    <tui-loader
      [showLoader]="true"
      size="xxl"
      [inheritColor]="true"
      class="text-background-neutral-1"
    />
  }
  @if (requestManager && comments.length) {
    @for (comment of comments; track comment.id) {
      @if (!comment.deleted) {
        <app-comment-card
          [class.opacity-0]="loadingIndicator.isLoading$ | async"
          [comment]="comment"
          [ideaId]="ideaId"
          (update)="update.emit(comment)"
        />
      }
    }
    <tui-pagination
      class="mt-2"
      [length]="totalPages"
      [index]="requestManager.page - 1"
      (indexChange)="jumpToPage($event + 1)"
      size="l"
    />
  }
  @if (requestManager?.meta?.itemCount === 0 || commentCount === 0) {
    <div class="self-center mt-8 flex flex-col items-center gap-2">
      <tui-icon icon="@tui.brain" class="text-5xl"></tui-icon>
      <span class="font-tui-text-l">Be the first to comment</span>
    </div>
  }
</div>
