<div class="flex select-none">
  <div
    class="cursor-pointer ease-in-out text-text-primary transition-colors duration-tui border border-border-normal hover:border-border-hover bg-background-base flex items-center justify-between w-min rounded-s-full px-2 gap-0 h-10 active:bg-background-neutral-1"
    (click)="upvoteControl.setValue(!upvoteControl.value)"
    (keydown.enter)="upvoteControl.setValue(!upvoteControl.value)"
    tabindex="0"
    (mouseleave)="voteCancelled = false"
  >
    <input
      tuiLike
      [formControl]="upvoteControl"
      type="checkbox"
      checkedIcon="@tui.arrow-big-up-filled"
      uncheckedIcon="@tui.arrow-big-up"
      class="!border-4 !h-8 !w-8 !bg-transparent after:!text-upvote before:!transition-colors before:!duration-tui"
      [class.before:hover:!text-upvote]="!voteCancelled"
      appearance="neutral"
      (click)="$event.stopPropagation()"
    />
    @if (voteTotal !== null) {
      <span
        class="transition-colors duration-tui min-w-4 text-center text-base font-bold"
        [class.!text-upvote]="upvoteControl.value"
        [class.!text-downvote]="downvoteControl.value"
        >{{ voteTotal | average | uppercase }}
      </span>
    }
  </div>
  <div
    appearance="outline-grayscale"
    class="cursor-pointer ease-in-out transition-colors duration-tui border border-border-normal hover:border-border-hover bg-background-base flex items-center rounded-e-full h-10 px-2 active:bg-background-neutral-1"
    (click)="downvoteControl.setValue(!downvoteControl.value)"
    (keydown.enter)="downvoteControl.setValue(!downvoteControl.value)"
    tabindex="0"
    (mouseleave)="voteCancelled = false"
  >
    <input
      tuiLike
      [formControl]="downvoteControl"
      type="checkbox"
      checkedIcon="@tui.arrow-big-down-filled"
      uncheckedIcon="@tui.arrow-big-down"
      class="!border-4 !h-8 !w-8 !bg-transparent after:!text-downvote before:!transition-colors before:!duration-tui"
      [class.before:hover:!text-downvote]="!voteCancelled"
      appearance="neutral"
      (click)="$event.stopPropagation()"
    />
  </div>
</div>
