@font-face {
  font-family: "Modeseven-L3n5";
  src:
    url("/fonts/woff2/Modeseven-L3n5.woff2") format("woff2"),
    url("/fonts/woff/Modeseven-L3n5.woff") format("woff"),
    url("/fonts/ttf/Modeseven-L3n5.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
