<button
  id="app-feed-selector"
  class="w-full !p-0"
  tuiButton
  [appearance]="buttonAppearance"
  tuiChevron
  type="button"
  [tuiDropdown]="dropdown"
  [(tuiDropdownOpen)]="open"
  appThrottledWheel
  (throttledWheel)="onWheel($event)"
>
  {{ currentFeedLabel }}
</button>

<ng-template #dropdown>
  <tui-data-list tuiDataListDropdownManager size="l">
    @for (option of options; track $index) {
      <button
        id="feed-selector-{{ option.value }}"
        tuiOption
        class="font-semibold !justify-start"
        [iconStart]="option.icon ?? ''"
        [tuiAppearance]="
          control.value === option.value ? 'flat' : 'flat-grayscale'
        "
        type="button"
        (click)="setOption(option)"
      >
        {{ option.label }}
      </button>
    }
  </tui-data-list>
</ng-template>
