@let isMobile = breakpoints.isMobile();

<section class="p-4 w-full min-h-full flex flex-col items-center">
  <form
    [formGroup]="formService.form"
    class="flex flex-col flex-1 w-full items-stretch gap-4"
    [class.max-w-3xl]="!isMobile"
    [class.max-w-[90vw]]="isMobile"
    (ngSubmit)="formService.submit()"
  >
    <header class="flex items-center gap-4 flex-wrap">
      @if (!isMobile) {
        <app-back-button />
      }
      <h1 class="font-tui-heading-3">
        @if (formService.ideaToUpdate) {
          Edit idea
        } @else {
          Post an idea
        }
      </h1>
    </header>
    <section>
      <tui-textfield iconEnd="@tui.lightbulb" class="h-16">
        <label for="create-idea-title" class="!text-xl !font-semibold">
          Title
        </label>
        <input
          tuiTextfield
          class="!text-xl !font-semibold"
          id="create-idea-title"
          [maxlength]="formService.constraints.title.maxLength"
          name="title"
          type="text"
          formControlName="title"
          appUpdateOnEnter
        />
      </tui-textfield>
      <tui-error formControlName="title" [error]="[] | tuiFieldError | async" />
    </section>
    <section class="flex flex-col items-stretch" [class.flex-1]="isMobile">
      <tui-editor
        [tools]="tools"
        [maxlength]="formService.constraints.content.maxLength"
        formControlName="content"
        [class.flex-1]="isMobile"
        [class.!min-h-80]="!isMobile"
      >
        Idea content
      </tui-editor>
      <tui-error
        formControlName="content"
        [error]="[] | tuiFieldError | async"
      />
    </section>
    <button
      tuiButton
      type="submit"
      size="l"
      [ngClass]="{ 'self-end min-w-52': !isMobile }"
      iconEnd="@tui.send-horizontal"
    >
      Post
    </button>
  </form>
</section>
