@let isMobile = breakpoints.isMobile();

<tui-root>
  <div
    class="bg-background-base h-screen w-screen overflow-hidden flex flex-col justify-stretch"
  >
    <app-header />
    <div class="flex-1 flex h-full w-full">
      <app-sidebar />
      <tui-scrollbar [hidden]="isMobile" class="app-scrollbar w-full">
        <main
          class="flex-1 w-full min-h-[calc(100vh-3rem)] !border-0 grid items-stretch justify-stretch content-stretch justify-items-stretch"
        >
          <router-outlet class="hidden" />
        </main>
      </tui-scrollbar>
    </div>
    <!-- eslint-disable-next-line @angular-eslint/template/elements-content -->
    <button
      tuiButton
      iconStart="@tui.plus"
      class="!absolute bottom-2 right-2 !rounded-full before:!text-4xl aspect-square"
    ></button>
  </div>
</tui-root>
