@let isMobile = breakpoints.isMobile();

<tui-root
  [attr.tuiTheme]="
    (themeService.themeStatus$ | async)?.theme ??
    document.body.getAttribute('data-theme')
  "
>
  <div
    class="bg-background-base h-screen w-screen overflow-hidden flex flex-col justify-stretch"
  >
    <app-header />
    <div class="flex-1 flex h-full w-full">
      <app-sidebar />
      <tui-scrollbar [hidden]="isMobile" class="app-scrollbar w-full">
        <main
          class="flex-1 w-full min-h-[calc(100vh-3rem)] !border-0 grid items-stretch justify-stretch content-stretch justify-items-stretch"
        >
          <router-outlet class="hidden" />
        </main>
      </tui-scrollbar>
    </div>
    @if (isMobile) {
      <app-app-bar />
    } @else {
      <app-create-button />
    }
  </div>
</tui-root>
