[tuinavigationheader],
.app-home-nav {
  box-shadow:
    0px -1px 0px 0px var(--tui-border-normal),
    0px 1px 0px 0px var(--tui-border-normal);
  z-index: 10;
}

[tuinavigationaside] {
  box-shadow:
    -1px 0px 0px 0px var(--tui-border-normal),
    1px 0px 0px 0px var(--tui-border-normal);
}

[tuinavigationaside]::before,
[tuinavigationheader]::before {
  opacity: 0;
}

tui-dropdown[data-appearance="dropdown-navigation"] {
  background: var(--tui-background-elevation-1) !important;
  outline: 2px solid var(--tui-border-normal);
  outline-offset: -2px;
}

.app-home-nav {
  background: var(--tui-background-base);
}

tui-segmented {
  --tui-background-neutral-1: #000000;
  --tui-background-base: var(--tui-background-base-alt);
}
