@use "../partials/navigation-border.scss";

[tuiTheme] {
  --tui-background-base: #fffefb;
  --tui-background-base-alt: #f5f4f1;
  --tui-border-normal: #cccccc;
  --tui-border-hover: #aaaaaa;
  --tui-border-focus: #999999;
  --tui-theme-color: #ffffff;
  --color-logo: #1b1f3b;

  --tui-text-primary: #1b1f3b;
  --tui-text-secondary: rgba(27, 31, 59, 0.65);
  --tui-text-tertiary: rgba(27, 31, 59, 0.4);
}

[tuinavigationheader]::before {
  border-top-left-radius: 0 !important;
}

[data-appearance="dropdown-navigation"] {
  outline: 2px solid var(--tui-border-normal);
  outline-offset: -2px;
}

tui-hint {
  background-color: var(--tui-background-accent-1) !important;
  color: var(--tui-text-primary-on-accent-1) !important;
}
