<section class="p-8 flex flex-col font-tui-text-m items-center">
  <section
    class="flex flex-col gap-4"
    [class.max-w-3xl]="!breakpoints.isMobile()"
  >
    <h1 class="text-4xl font-bold mb-4">Credits:</h1>
    <ul class="list-disc text-l">
      <li>
        App developed by
        <a
          href="https://github.com/chrscmpl"
          target="_blank"
          tuiLink
          iconEnd="@tui.github"
          >chrscmpl
        </a>
      </li>
      <li>
        Application developed using the
        <a href="https://angular.dev/" target="_blank" tuiLink
          >Angular v19 framework
        </a>
      </li>
      <li>
        Components were used from the
        <a href="https://taiga-ui.dev/" target="_blank" tuiLink
          >Taiga UI library
        </a>
      </li>
      <li>
        SVG icons used in the UI are offered by
        <a href="https://lucide.dev/" target="_blank" tuiLink>Lucide </a>
      </li>
      <li>
        Brain svg icon used in logo, favicon and icon is offered by by Saputra
        from
        <a
          href="https://thenounproject.com/browse/icons/term/brain/"
          target="_blank"
          title="Brain Icons"
          tuiLink
          >Noun Project</a
        >
        (CC BY 3.0)
      </li>
      <li>
        Modeseven-L3n5 font is offered by Andrew Bulhak from
        <a
          href="https://www.fontspace.com/modeseven-font-f2369"
          target="_blank"
          tuiLink
          >fontspace.com
        </a>
        under a Freeware license
      </li>
    </ul>
  </section>
</section>
