@if(!breakpointsService.isMobile()) {
<aside
  [tuiNavigationAside]="sidebarService.expanded()"
  class="!h-[calc(100vh-3rem)]"
>
  <header>
    <button
      iconStart="@tui.flame"
      tuiAsideItem
      type="button"
      routerLink="/home"
      [queryParams]="{ sort: 'controversial' }"
      class="controversial !font-bold"
    >
      <span>Controversial</span>
    </button>
    <button
      iconStart="@tui.trophy"
      tuiAsideItem
      type="button"
      routerLink="/home"
      [queryParams]="{ sort: 'popular' }"
      class="popular !font-bold"
    >
      <span>Popular</span>
    </button>
    <button
      iconStart="@tui.frown"
      tuiAsideItem
      type="button"
      routerLink="/home"
      [queryParams]="{ sort: 'unpopular' }"
      class="unpopular !font-bold"
    >
      <span>Unpopular</span>
    </button>
  </header>

  <button iconStart="@tui.plus" tuiAsideItem type="button">
    <span>Post an idea</span>
  </button>

  <tui-aside-group>
    <button
      automation-id="setting"
      iconStart="@tui.settings"
      tuiAsideItem
      tuiChevron
      type="button"
    >
      Settings
      <ng-template>
        <button tuiAsideItem type="button">Theme</button>
      </ng-template>
    </button>
  </tui-aside-group>
  <tui-aside-group>
    <button
      automation-id="more"
      iconStart="@tui.ellipsis"
      tuiAsideItem
      tuiChevron
      type="button"
    >
      <ng-template>
        <button tuiAsideItem type="button">Privacy Policy</button>
        <button tuiAsideItem type="button">Credits</button>
      </ng-template>
    </button>
  </tui-aside-group>
  <footer>
    <button
      [iconStart]="
        sidebarService.expanded() ? '@tui.arrow-left' : '@tui.arrow-right'
      "
      tuiAsideItem
      type="button"
      (click)="sidebarService.toggle()"
    >
      <span>{{ sidebarService.expanded() ? "Collapse" : "Expand" }}</span>
    </button>
  </footer>
</aside>
}
