@let isMobile = breakpoints.isMobile();

<form [formGroup]="form" [class.m-4]="isMobile">
  @if (!isOpen) {
    <tui-textfield iconEnd="@tui.message-square-text">
      <label for="comment-input">Write a comment</label>
      <input
        tuiTextfield
        id="comment-input"
        type="text"
        (click)="open($event)"
      />
    </tui-textfield>
  } @else {
    <div class="relative">
      <tui-editor
        id="comment-editor-editor"
        [tools]="tools"
        [maxlength]="constraints.content.maxLength"
        formControlName="content"
        appFocusOnEntry=".ProseMirror"
        [appFocusOnEntryDelay]="200"
        class="!pb-8"
        [ngClass]="{
          '!min-h-52 !max-w-[calc(100dvw-2rem)]': isMobile,
        }"
      >
      </tui-editor>
      <button
        tuiButton
        iconEnd="@tui.send-horizontal"
        class="!absolute !bottom-2 !right-2"
        size="s"
        (click)="submit()"
        (keydown.enter)="submit()"
        tabindex="0"
      >
        <span class="-translate-y-[0.1rem]">Post</span>
      </button>
    </div>
    <tui-error formControlName="content" [error]="[] | tuiFieldError | async" />
  }
</form>
