@let isMobile = breakpoints.isMobile();

<div class="flex flex-col py-4 gap-4" [class.items-center]="isMobile">
  <tui-segmented [(activeItemIndex)]="index" class="w-min mx-5" size="l">
    <button class="font-semibold">
      {{ IdeaSortEnum.CONTROVERSIAL | titlecase }}
    </button>
    <button class="font-semibold">
      {{ IdeaSortEnum.POPULAR | titlecase }}
    </button>
    <button class="font-semibold">
      {{ IdeaSortEnum.UNPOPULAR | titlecase }}
    </button>
  </tui-segmented>
  <tui-carousel [(index)]="index" [draggable]="isMobile" class="w-full">
    <div *tuiItem class="md:w-[50vw]">
      <app-idea-feed
        [sort]="IdeaSortEnum.CONTROVERSIAL"
        [key]="IdeaSortEnum.CONTROVERSIAL"
        age="7d"
        [page]="1"
        [limit]="10"
        includeOwnVotes
        includeUsers
      />
    </div>
    <div *tuiItem class="md:w-[50vw]">
      <app-idea-feed
        [sort]="IdeaSortEnum.POPULAR"
        [key]="IdeaSortEnum.POPULAR"
        age="7d"
        [page]="1"
        [limit]="10"
        includeOwnVotes
        includeUsers
      />
    </div>
    <div *tuiItem class="md:w-[50vw]">
      <app-idea-feed
        [sort]="IdeaSortEnum.UNPOPULAR"
        [key]="IdeaSortEnum.UNPOPULAR"
        age="7d"
        [page]="1"
        [limit]="10"
        includeOwnVotes
        includeUsers
      />
    </div>
  </tui-carousel>
</div>
