<form tuiForm="l" [formGroup]="form" (ngSubmit)="submit()">
  <a
    tuiLink
    class="w-fit"
    (click)="goToSignup()"
    (keydown.enter)="goToSignup()"
    tabindex="0"
    >Sign up instead
  </a>
  <tui-textfield iconEnd="@tui.mail">
    <label for="email">Email</label>
    <input
      tuiTextfield
      id="email"
      name="email"
      type="email"
      formControlName="email"
    />
  </tui-textfield>
  <tui-error formControlName="email" [error]="[] | tuiFieldError | async" />

  <tui-textfield>
    <label for="password">Password</label>
    <input
      tuiTextfield
      id="password"
      name="password"
      type="password"
      formControlName="password"
    />
    <tui-icon tuiPassword />
  </tui-textfield>
  <tui-error formControlName="password" [error]="[] | tuiFieldError | async" />

  <footer>
    <button tuiButton type="submit" class="w-full">Log In</button>
  </footer>
</form>
