<form tuiForm="l" [formGroup]="form" (ngSubmit)="submit()">
  <a
    id="login-signup"
    tuiLink
    class="w-fit"
    (click)="goToSignup()"
    (keydown.enter)="goToSignup()"
    tabindex="0"
    >Sign up instead
  </a>
  <tui-textfield iconEnd="@tui.mail">
    <label for="login-email">Email</label>
    <input
      tuiTextfield
      id="login-email"
      name="email"
      type="email"
      formControlName="email"
      appUpdateOnEnter
    />
  </tui-textfield>
  <tui-error formControlName="email" [error]="[] | tuiFieldError | async" />

  <tui-textfield>
    <label for="login-password">Password</label>
    <input
      tuiTextfield
      id="login-password"
      name="password"
      type="password"
      formControlName="password"
      appUpdateOnEnter
    />
    <tui-icon tuiPassword />
  </tui-textfield>
  <tui-error formControlName="password" [error]="[] | tuiFieldError | async" />

  <footer>
    <button id="login-submit" tuiButton type="submit" class="w-full">
      Log In
    </button>
  </footer>
</form>
