@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --feed-controversial: #ef4444;
  --feed-controversial-transparent: #ef444444;
  --feed-controversial-transparent-pressed: #ef444460;

  --feed-popular: #f59e0b;
  --feed-popular-transparent: #f59e0b44;
  --feed-popular-transparent-pressed: #f59f0b5d;

  --feed-unpopular: #3b82f6;
  --feed-unpopular-transparent: #3b82f644;
  --feed-unpopular-transparent-pressed: #3b83f65d;

  --feed-new: #3bf6f3;
  --feed-new-transparent: #3bf6f344;
  --feed-new-transparent-pressed: #3bf6f35d;

  --upvote-color: #db3a01;
  --downvote-color: #6800e0;
}

// override default textfield behavior (error on change)
[tuiAppearance][data-appearance="textfield"]:focus-visible:not(
    [data-focus="false"]
  ):not(.ng-touched) {
  box-shadow: none !important;
  outline: 0.125rem solid var(--tui-background-accent-1) !important;
  outline-offset: -0.125rem !important;
}

.app-scrollbar > .t-bars > .t-bar {
  top: 10px !important;
}

.app-scrollbar > .t-content {
  min-height: 100% !important;
}

@for $i from 1 through 6 {
  h#{$i} {
    font: var(--tui-font-heading-#{$i});
  }
}
