@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --controversial: #ef4444;
  --controversial-transparent: #ef444444;

  --popular: #f59e0b;
  --popular-transparent: #f59e0b44;

  --unpopular: #3b82f6;
  --unpopular-transparent: #3b82f644;
}

.app-scrollbar > .t-bars > .t-bar {
  top: 10px !important;
}

.app-scrollbar > .t-content {
  min-height: 100% !important;
}
