<div class="flex">
  <button
    tuiButton
    appearance="outline-grayscale"
    class="!bg-background-base !flex !items-center !w-min !rounded-s-full !px-2 !gap-0 !h-10 active:!bg-background-neutral-1"
    (click)="upvoteControl.setValue(!upvoteControl.value)"
  >
    <input
      tuiLike
      [formControl]="upvoteControl"
      type="checkbox"
      checkedIcon="@tui.arrow-big-up-filled"
      uncheckedIcon="@tui.arrow-big-up"
      class="!border-4 !h-8 !w-8 !bg-transparent after:!text-upvote before:hover:!text-upvote before:!transition-colors before:!duration-300"
      appearance="neutral"
      (click)="$event.stopPropagation()"
    />
    @if (voteTotal !== null) {
      <span
        class="transition-colors duration-300 min-w-4"
        [class.!text-upvote]="upvoteControl.value"
        [class.!text-downvote]="downvoteControl.value"
        >{{ voteTotal | average | uppercase }}
      </span>
    }
  </button>
  <button
    tuiButton
    appearance="outline-grayscale"
    class="!bg-background-base !flex !items-center !rounded-e-full !border-l-0 !h-10 !px-2 active:!bg-background-neutral-1"
    (click)="downvoteControl.setValue(!downvoteControl.value)"
  >
    <input
      tuiLike
      [formControl]="downvoteControl"
      type="checkbox"
      checkedIcon="@tui.arrow-big-down-filled"
      uncheckedIcon="@tui.arrow-big-down"
      class="!border-4 !h-8 !w-8 !bg-transparent after:!text-downvote before:hover:!text-downvote before:!transition-colors before:!duration-300"
      appearance="neutral"
      (click)="$event.stopPropagation()"
    />
  </button>
</div>
