@let isMobile = breakpoints.isMobile();

<section
  class="flex flex-col items-center h-full w-full max-w-[100vw]"
  [class.justify-center]="isMobile"
>
  <app-logo
    class="text-8xl h-64 w-[20ch] max-w-[80vw]"
    [class.translate-x-6]="!isMobile"
    [class.!h-32]="isMobile"
  />
  <h1
    class="text-8xl font-bold text-center max-w-[80vw]"
    [class.text-6xl]="isMobile"
  >
    404 - Not Found
  </h1>
  <button
    tuiButton
    routerLink="/ideas"
    class="mt-20 !max-w-[80vw] text-wrap !text-6xl ![--t-size:1.5em]"
    [class.!text-4xl]="isMobile"
  >
    Go to home
  </button>
</section>
